[submodule "components/ElegantOTA"]
	path = components/ElegantOTA
	url = https://github.com/ayushsharma82/ElegantOTA.git
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "components/RTClib"]
	path = components/RTClib
	url = https://github.com/defboard/RTClib
[submodule "components/Adafruit_SSD1306"]
	path = components/Adafruit_SSD1306
	url = https://github.com/defboard/Adafruit_SSD1306
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/defboard/Adafruit-GFX-Library
